{% extends 'base.html.twig' %}

{% block title %}{{ 'discover_association'|trans }}{% endblock %}

{% block mainSection %}
    <h2 class="text-center font-weight-bold">{{ 'pitch'|trans }}</h2>
    <hr class="divider"/>
    <p>{{ pitch|raw }}</p>
{% endblock %}

{% set sections = [
    {'title': 'pitch'|trans,'content': pitch},
    {'title': 'office'|trans,'content': office},
    {'title': 'licences'|trans,'content': licences},
    {'title': 'events'|trans,'content': eventes},
] %}

{% block body %}
    {% for index, section in sections %}
        {{ include('components/basic_section.html.twig', {
            'title': section.title,
            'content': section.content,
            'color': index is odd ? 'light' : 'primary',
            'isLast': loop.last,
        }) }}
    {% endfor %}
{% endblock %}

