{% extends 'base.html.twig' %}

{% block title %}{{ 'discover_association'|trans }}{% endblock %}

{% block mainSection %}
    <h2 class="text-center font-weight-bold">{{ 'the_association'|trans }}</h2>
    <hr class="divider"/>
    {{ include('components/_text.html.twig', {text: associationIntro}) }}
{% endblock %}

{% block body %}
    {{ include('components/basic_section.html.twig', {
        'title': '',
        'content': associationBody,
        'color': 'light',
        'isLast': false
    }) }}
{% endblock %}

