{% extends 'base.html.twig' %}

{% block mainSection %}
    <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold text-center">{{ 'main_title'|trans }}</h1>
        <hr class="divider"/>
    </div>
    <div class="col-lg-8 align-self-baseline">
        <div class="text-white-75 my-5">{{ landingText|raw }}</div>
    </div>
{% endblock %}

{% block body %}
    {{ include('home/members.html.twig', {title: 'members'}) }}
{% endblock %}
